<div>
  <.form
    let={f}
    for={@changeset}
    id="interview-form"
    phx-target={@myself}
    phx-change="validate"
    phx-submit="save">

    <%= hidden_input(f, :user_id, value: @user_id) %>
  
    <.form_field
      type="text_input"
      form={f}
      field={:name}
      placeholder="Interview Name"
    />
  
    <.button type="submit" color="success" label="Save" />
  </.form>
</div>
