<.h1>Listing Entries</.h1>

<strong x-data x-text="$store.recorder.speaking"></strong>

<div x-data id="voice-detector" phx-hook="VoiceDetector" class="flex m-2">
  <.card variant="outline" class="my-2">
    <.card_content class="!p-2">
      <div class="flex content-center">
        <.icon_button
          id="record-button"
          type="button"
          link_type="button"
          icon={:microphone}
          size="xl"
          :class="$store.recorder.on ? '!text-red-800 animate-pulse' : ''"
        />
        <Heroicons.Solid.chat_alt
          :class="$store.recorder.speaking ? '' : 'hidden'"
          class="w-6 h-6 text-green-500"
        />
        <Heroicons.Solid.dots_horizontal
          :class="$store.recorder.speaking ? 'hidden' : ''"
          class="w-6 h-6 text-gray-500"
        />
      </div>
    </.card_content>
  </.card>
</div>

<%= if @live_action in [:new, :edit] do %>
  <.modal title={@page_title} return_to={Routes.entry_index_path(@socket, :index)}>
    <.live_component
      module={SmeInterviewsWeb.EntryLive.FormComponent}
      id={@entry.id || :new}
      action={@live_action}
      entry={@entry}
      return_to={Routes.entry_index_path(@socket, :index)}
    />
  </.modal>
<% end %>

<table>
  <thead>
    <tr>
      <th>From</th>
      <th>To</th>
      <th>Text</th>
      <th>Status</th>

      <th></th>
    </tr>
  </thead>
  <tbody id="entries">
    <%= for entry <- @entries do %>
      <tr id={"entry-#{entry.id}"}>
        <td><%= entry.from %></td>
        <td><%= entry.to %></td>
        <td><%= entry.text %></td>
        <td><%= entry.status %></td>
        <audio src={entry.get_url} controls crossorigin />

        <td>
          <span>
            <%= live_redirect("Show", to: Routes.entry_show_path(@socket, :show, entry)) %>
          </span>
          <span>
            <%= live_patch("Edit", to: Routes.entry_index_path(@socket, :edit, entry)) %>
          </span>
          <span>
            <%= link("Delete",
              to: "#",
              phx_click: "delete",
              phx_value_id: entry.id,
              data: [confirm: "Are you sure?"]
            ) %>
          </span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<span><%= live_patch("New Entry", to: Routes.entry_index_path(@socket, :new)) %></span>
